<script type="text/javascript" src="<%= url("/jasmine/jasmine.js") %>"></script>
<script type="text/javascript" src="<%= url("/jasmine/jasmine-html.js") %>"></script>
<script type="text/javascript" src="<%= url("/resources/json2.js") %>"></script>
<script type="text/javascript" src="<%= url("/resources/run.js") %>"></script>
<script type="text/javascript">
  // <![CDATA[
      <%= render_spec(@coffee_spec_helper) if @coffee_spec_helper.exist? %>;
      <%= render_spec(@js_spec_helper) if @js_spec_helper.exist? %>;
      <% if @spec %>
        <%= render_spec(@spec) %>
      <% else %>
        <% @suite.specs.each do |spec| %>
          describe("<%= spec.name %>", function() {
            <%= render_spec(spec) %>;
          });
        <% end %>
      <% end %>
  // ]]>
</script>

<div id="page">
  <h1>Evergreen</h1>
  <a class="back" href="<%= url("/") %>">Back to list</a>
</div>

<div id="test"></div>

<script type="text/javascript">
  // <![CDATA[
    (function() {
      Evergreen.driver = <%= Evergreen.driver.to_json %>;
      <% @suite.templates.each do |template| %>
        Evergreen.templates[<%= template.name.to_json %>] = <%= template.escaped_contents %>;
      <% end %>
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.addReporter(new jasmine.TrivialReporter());
      jasmineEnv.addReporter(new Evergreen.ReflectiveReporter());
      jasmineEnv.execute();
    })();
  // ]]>
</script>
