<!doctype html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('/lib/jasmine.css') %>">
    <script type="text/javascript" src="<%= url("/lib/jasmine.js") %>"></script>
    <script type="text/javascript" src="<%= url("/lib/jasmine-html.js") %>"></script>
    <script type="text/javascript" src="<%= url("/evergreen/evergreen.js") %>"></script>
    <script type="text/javascript" src="<%= url("/spec/#{@spec.name}.js") %>"></script>
  </head>
  <body>
    <script type="text/javascript">
      (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.addReporter(new jasmine.TrivialReporter());
        jasmineEnv.addReporter(new jasmine.ReflectiveReporter());
        jasmineEnv.execute();
      })();
    </script>
  </body>
</html>
